@* @model  ChangePasswordVeiwModel  *@

<div class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="bg-white p-8 rounded-lg shadow-lg max-w-sm w-full">
       
      <div class="container-fluid">
            <div class="flex items-center space-x-2 mb-6">
                <br />
                @* <img src="https://unsplash.it/40/40?image=883" alt="Lock Icon" class="rounded-full"> *@
                <h4 class="text-xl font-semibold">Forgot Password</h4>
            </div>
            <p class="text-sm text-gray-600 mb-6">Request password for access!</p>
          <form id="changePasswordForm" asp-action="ForgotPassword" asp-controller="Account" class="space-y-6">


                <div class="col-6">
                <label class="text-sm font-medium text-gray-700 block mb-2">Phone *</label>
                @*   <input asp-for="NewPassword" class="form-control" />
                 <span asp-validation-for="NewPassword" class="text-danger" />
                 *@
                <input type="number"  name="phone" class="form-control " required>
            </div>

                <div class="col-6">
                <label  class="text-sm font-medium text-gray-700 block mb-2">Email *</label>
@*                 <input asp-for="CurrentPassword" class="form-control" />
                <span asp-validation-for="CurrentPassword" class="text-danger" /> *@
                <input type="email" name="email" class="form-control " required>
            </div>
      
      <br />
            <div class="flex justify-between">
                @* <button type="button" onclick="discardChanges()" class="px-4 py-2 text-sm font-medium text-gray-700 bg-gray-200 rounded-md hover:bg-gray-300 focus:outline-none focus:ring focus:border-blue-300">Discard</button> *@
                <button type="submit" class="btn btn-dark">Send</button>
            </div>

        </form>
            <br />
      </div>
    </div>


</div>
@section Scripts{
<partial name="_ValidationScriptsPartial" />
}